.statistics{
    margin: 40px auto;
    max-width: 400px;
    font-size: 30px;
    text-align: center;

}

.title{
    margin: 0;
    text-transform: uppercase;
    font-size: 35px;
    color:#4e75b5;
}

.stat-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.item{
    display: flex;
    flex-direction: column;
    
}