.transactionHistory{
    width: 1000px;
    font-size: 30px;
    border: 1px solid grey;
    text-align: center;
    margin: 0 auto;
}

thead {
    background-color: #4E75B5;
    color: white;

}
tbody{
    color: grey;
}